header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.App.dark-mode .btn {
  color: var(--color-dark-dark-grayish-blue);
}

.App.dark-mode .btn:hover {
  color: var(--color-dark-very-dark-grayish-blue-hover);
}