@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

:root {
  /* Light Theme */
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-very-light-grayish-blue: hsl(236, 33%, 92%);
  --color-light-grayish-blue: hsl(233, 11%, 84%);
  --color-dark-grayish-blue: hsl(236, 9%, 61%);
  --color-very-dark-grayish-blue: hsl(235, 19%, 35%);
  --color-gradient-start: hsl(192, 100%, 67%);
  --color-gradient-end: hsl(280, 87%, 65%);

  /* Dark Theme */
  --color-very-dark-blue: hsl(235, 21%, 11%);
  --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
  --color-dark-light-grayish-blue: hsl(234, 39%, 85%);
  --color-dark-light-grayish-blue-hover: hsl(236, 33%, 92%);
  --color-dark-dark-grayish-blue: hsl(234, 11%, 52%);
  --color-dark-very-dark-grayish-blue: hsl(233, 14%, 35%);
  --color-dark-very-dark-grayish-blue-hover: hsl(237, 14%, 26%);
}

html {
  font-size: 62.5%;
}

body,
input[type="text"],
button {
  font-family: "Josefin Sans", sans-serif, "Courier New", Courier, monospace;
  font-size: 1.8rem;
  font-weight: 400;
}

.App {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.hidden {
  display: none;
}

/* Theme LIGHT */
.App.light-mode {
  background-color: var(--color-very-light-gray);
  background-image: url(./assets/images/bg-desktop-light.jpg);
  color: var(--color-dark-grayish-blue);
}

.App.light-mode button {
  color: var(--color-dark-grayish-blue);
}

/* Theme DARK */
.App.dark-mode {
  background-color: var(--color-very-dark-blue);
  background-image: url(./assets/images/bg-desktop-dark.jpg);
  color: var(--color-dark-dark-grayish-blue);
}

.container {
  max-width: 54rem;
  margin: 0 auto;
}